#about-me-body {
  background-color: #0D0C31;
}

#about-me-body {
  color: white;
}

#about-me-head {
  background-color: #0D0C31;
}

#about-me-head {
  color: white;
}

#my-picture {
  border-radius: 100%;
  float: right;
  width: auto;
  height: auto;
}

#pic-panel-color {
  color: #0D0C31;
}
.caption-text {
  color: white;
  margin: auto;
  text-align: center;
}

.top-left-panel {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

#top-header {
  color: #C7E3F2;
  text-align: center;
  text-shadow: #C7E3F2 1px 0 10px;
}

#background-color {
  background-color: #0D0C31;
}